* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.fijarMenu {
  width: 100%;
  position: fixed;
  backdrop-filter: blur 10px;
  box-shadow: 0 0 50px #FFC300;
  z-index: 1000; }
  .fijarMenu.navegadorBox {
    padding-left: 2em; }
  .fijarMenu.navegadorMenu {
    justify-content: right; }

.tituloPpal {
  width: 100%;
  padding: 1em;
  background-color: #58D68D;
  padding-top: 5em; }

.tituloAlineado {
  width: 100%;
  font-family: 'Biryani';
  text-align: center; }

.cajaX3 {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #D1F2EB; }

p img {
  width: 30px;
  height: 30px; }

.cajaBtn {
  justify-content: center; }

.card-img-top {
  height: 18rem;
  object-fit: cover; }

.bordes {
  border: 3px solid #5DADE2; }

@media (max-width: 576px) {
  .cajaX3 {
    display: flex;
    flex-flow: column;
    padding-left: 2.5em; }
  .cajaX3 > .card {
    width: 100%; } }
