* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.fijarMenu {
  width: 100%;
  position: fixed;
  backdrop-filter: blur 10px;
  box-shadow: 0 0 50px #f50505; }
  .fijarMenu.navegadorMenu {
    justify-content: right; }

.tituloPpal {
  width: 100%;
  padding: 1em;
  background-color: #00b894;
  padding-top: 5em; }

.tituloAlineado {
  width: 100%;
  font-family: 'Biryani';
  text-align: center; }

.cajaX3 {
  display: flex;
  justify-content: space-around;
  padding-top: 2em; }

p img {
  width: 30px;
  height: 30px; }

.cajaBtn {
  justify-content: center; }

.card-img-top {
  height: 18rem;
  object-fit: cover; }
