*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dedoClick{
    width: $imgSmall;
    height: $imgSmall;
}
.wappFijo{
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 100;
    
    & img{
        width: $topGenerico;
        height: $topGenerico;
    }
}