
.listaDoc{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;

    & .list-group{
        width: 60%;
    }

    & .imgRedSocial{
        width: 40%;
        text-align: center;
        justify-content: center;

        & img{
            height: 20em;
        }
    }
}
.subtitulos2{
    width: 80%;
    text-align: left;
    height:3em;
    justify-content: center;
    margin: 0 auto;
}
.tablaDr{
    width: 80%;
    margin: 0 auto;
}
.cajaCarrusel{
    width: 80%;
    margin: 0 auto;
    
    & .carruselIndividual{
        width: 100%;
        height: 600px;

        & .imgCarrusel{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
        }
    }
}