
.boxFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5em; 
    
    &__.boxFooterTxt{
        color: $colorBlanco;
    }

    &__.boxFooterImg{
        filter: invert(100%);
    
        &__.imgFooter{
            width: $imgFooter;
            height: $imgFooter;
        }
    }
}    