
.boxFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5em; 
    
    & .boxFooterTxt{
        color: $colorBlanco;
    }

    & .boxFooterImg{
        filter: invert(100%);
    
        & .imgFooter{
            width: $imgFooter;
            height: $imgFooter;
        }
    }
}      