
.fijarMenu{
  width: 100%;
  position: $menuFijo;
  backdrop-filter: blur (10px);
  z-index: 1000;
  &.navegadorBox{
    padding-left: 2em;
  }
  &.navegadorMenu {
    justify-content: right;
  }  
}
.tituloPpal{
  width: 100%;
  padding: 1em;
  padding-top: 5em;
  background-color: rgba(125, 129, 129, 0.363);
}
.tituloAlineado{
  width: 100%;
  font-family: 'Biryani';
  text-align:center;  
}Alineado{
  width: 100%;
  font-family: 'Biryani';
  text-align:center;  
};  
} 
}