@media (max-width: 768px) {
  .tituloPpal {
    padding-top: 4em;
    height: 4em;

    & .wave {
      display: none;

      & svg {
        display: none;
      }
    }
  }

  .subtitulos2 {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
  }

  h2 {
    font-size: calc(1.1rem + 0.7vw);
  }

  .cajaX3 {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-top: 0px;

    & .card {
      width: 100%;
    }
  }

  .card-img-top {
    width: 100%;
  }

  .cajaX2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
  }

  .seccion4 {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;

    & .mapa {
      width: 100%;
    }

    & .redSocial {
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;


      & .txtRedSocial {
        display: none;
      }
    }
  }

  .listaDoc {
    width: 100%;
    text-align: center;

    & .imgRedSocial {
      display: none;
    }

    & .list-group {
      width: 100%;
    }
  }
}