@media (max-width: 768px) {
    .tituloPpal {
        padding-top: 4em;
        height: 4em;

        &__.wave {
            display: none;

            &__svg {
                display: none;
            }
        }
    }

    .subtitulos2 {
        width: 100%;
        text-align: center;
        padding-top: 0.5em;
    }

    h2 {
        font-size: calc(1.1rem + 0.7vw);
    }

    .cajaX3 {
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0px;

        &__.card {
            width: 100%;
        }
    }

    .card-img-top {
        width: 100%;
    }

    .cajaX2 {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin: 0 auto;
        padding-top: 0px;
    }

    .seccion4 {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin: 0 auto;

        &__.mapa {
            width: 100%;
        }

        &__.redSocial {
            width: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;
            padding-top: 1.5em;
            padding-bottom: 1.5em;


            &__.txtRedSocial {
                display: none;
            }
        }
    }

    .listaDoc {
        width: 100%;
        text-align: center;

        &__.imgRedSocial {
            display: none;
        }

        &__.list-group {
            width: 100%;
        }
    }
}