// armar variables de uso general----------
$topGenerico: 70px;
$imgFooter: 40px;
$colorBlanco: whitesmoke;
$colorRojo: #E74C3C;
$colorAmarillo: #FFC300;
$colorVerde: #58D68D;
$colorFondo: #D1F2EB;
$colorCeleste: #5DADE2;
$menuFijo: fixed;
$cajaTriple: space-around;
$imgSmall: 30px;
$centrar: center;